@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../assets/fonts/opensans.woff') format('woff'),
    url('../assets/fonts/opensans.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../assets/fonts/opensansbold.woff') format('woff'),
  url('../assets/fonts/opensansbold.woff2') format('woff2');
}